<h1>Listing donations</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Donor</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= donation.date %></td>
        <td><%= number_to_currency(donation.amount) %></td>
        <td><%= donation.donor.name %></td>




        <td><%= link_to 'Show', donation %></td>
        <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
        <td><%= link_to 'Destroy', donation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>

</table>
<p><%= number_to_currency(Donation.total_donations) %></p>

<br>

<%= link_to 'New Donation', new_donation_path %>
