<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @donation.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@donation.amount) %>
</p>

<p>
  <strong>Donor:</strong>
  <%= @donation.donor.name %>
</p>


<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
